on: [push]

jobs:
  gist-sync:
    name: gist-sync
    runs-on: ubuntu-latest
    steps:
    #PIC18F4550
      - name: Checkout
        uses: actions/checkout@v2
      - uses: vhperaltaj/gist-sync-action@v1.0.0
        id: PIC18F4550
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_url: https://gist.github.com/microside-mx/68e64526b4c6a2f6e0773ee5866665bf
          gist_title: Pr치ctica 1 - Blink LED MPLAB X PIC assembler PIC18F4550
          gist_description: Pr치cticas PIC Assembler
          github_file: Proyecto/PIC18F4550/Blink_LED.X/blink_led.s
          file_encoding: ISO-8859-1
    #PIC18F45K50
      - name: Checkout
        uses: actions/checkout@v2
      - uses: vhperaltaj/gist-sync-action@v1.0.0
        id: PIC18F45K50
        with:
          auth: ${{ secrets.GIST_TOKEN }}
          gist_url: https://gist.github.com/microside-mx/b63d44da3154f9de5e8a2246eb4ef014
          gist_title: Pr치ctica 1 - Blink LED MPLAB X PIC assembler PIC18F45K50
          gist_description: Pr치cticas PIC Assembler
          github_file: Proyecto/PIC18F45K50/Blink_LED.X/blink_led.s
          file_encoding: ISO-8859-1